.colors {
    color: magenta;
    color: #FFFFFF;
    background-color: indigo;
}

@media (min-width: 1000px) {
    .colors {
        color: magenta;
        color: #FFFFFF;
        background-color: indigo;
    }

    .colors {
        color: magenta;
        color: #FFFFFF;
        background-color: indigo;
    }

}

.grid {
    grid-template-areas: "bruh bruh" "moment moment";
}

