.colors {
    color: magenta;
    color: #FFFFFF;
    background-color: blue
}

@Media (Max-Width: 1000px) {
    .colors     {
        color: #4a5428;
        color: #FFFFFF;
        background-color: blue
    }

    .colors     {
        color: magenta;
        color: #FFFFFF;
        background-color: blue
    }

}

