.colors {
    color: magenta;
    color: #FFFFFF;
    background-color: blue;
}

@media (min-width 1000px) {
    .colors     {
        color: magenta;
        color: #FFFFFF;
        background-color: blue;
    }

    .colors     {
        color: magenta;
        color: #FFFFFF;
        background-color: blue;
    }

}

