.colors {
    background-color: blue;
    color: magenta;
}

div {
    margin: 16px;
    padding: 2em;
}

@media (min-width: 1000px) {
    #main-grid {
        display: grid;
        grid-template-areas: "header header" "main aside" "footer footer";
    }

}

